<div class="entire">

    <div>
        <h4 class="h4">List of All courses </h4>
        <button (click)="getCourses()"  class="but">Courses</button>
    </div>


    <input type="text" name="subject" [(ngModel)]="subject" placeholder="Subject">
    <button (click)="getSubject()" class="label1">Search</button>



    <input type="text" name="sub&course" [(ngModel)]="course" id="course" placeholder="Course Code">

    <button (click)=" getSubsandCourse()" class="label2">Search</button>



    <input type="text" name="sub&course&component" [(ngModel)]="component" id="component" placeholder="Component">
    <button (click)="getSubsandCourseandComp()" class="label3">Search</button>

    <table id = "display1" class = "list">
    
    </table>

</div>

<div class = "card">

    <div *ngFor="let courses of data">
        <mat-card class = "mat-elevation-z5">
            <mat-card-title > {{courses.subject}} {{courses.catalog_nbr}} </mat-card-title>
            <mat-card-content class = cards> Name: {{courses.className}} </mat-card-content>
            <br *ngIf = "!courses.collapsed">
            <mat-card-content class = cards> Section: {{courses.class_section}} </mat-card-content>
            <br *ngIf = "!courses.collapsed">
            <mat-card-content *ngIf="!courses.collapsed" class = cards> Start time: {{courses.start_time}} </mat-card-content>
            <br *ngIf = "!courses.collapsed">
            <mat-card-content *ngIf="!courses.collapsed" class = cards> endtime: {{courses.end_time}} </mat-card-content>
            <br *ngIf = "!courses.collapsed">
            <mat-card-content name="classNum" class = cards> Class Number: {{courses.class_nbr}} </mat-card-content>
            <br *ngIf = "!courses.collapsed">
            <mat-card-content *ngIf="!courses.collapsed" class = cards> Location: {{courses.campus}} </mat-card-content>
            <br *ngIf = "!courses.collapsed" >
            <mat-card-content class = cards> Component: {{courses.ssr_component}} </mat-card-content>
            <!-- <button [disabled]= "!token" (click) = "" class = "">Add</button> -->



            <mat-card-actions>
                <button mat-button (click) = "courses.collapsed = true"> Collapse text</button>
                <button mat-button (click) = "courses.collapsed = false"> UnCollapse text</button>
            </mat-card-actions>

        </mat-card>

    </div>


</div>

<!-- 
    <input type="text" name = "courseList" [(ngModel)] = "scheduleName" id = "scheduleName" placeholder="Create a new schedule" class = "label4">
    <button (click)="createSchedule()" class = "label4">Create</button>

    

<div>

    <h4 class= "h4">Would you like to add these courses to the schedule: {{scheduleName}}            </h4>
    <button class ="but" (click)="add_new()"> Add a subject and course</button>
    <h4> Selected Subject code: {{subject}}</h4>
    <h4> Selected Course code: {{course}}</h4>
</div>


    <div>
        <h4 class = "h4"> Display: {{scheduleName}}          </h4>
    <button class = "but" (click)="display()">Display a specified schedule</button>
   
    </div>
    
    <div>
        <h4 class = "h4"> Delete: {{scheduleName}}          </h4>
        <button class = "but" (click)="delete_Schedule()">Delete a specified Schedule</button>
    </div>


  


    <div>
        <button class = "but1" (click)="delete_All()">Delete all Schedules</button>



        <button class = "but1" (click)="list_Schedules()">list all schedules</button>
    </div>
    

<div id="newButton">

</div>
<ul id= "list">
</ul>
<div id="display"></div>



</div>   -->