.entire{
    background-color: lightgray;
    border-radius: 15px;
    margin: auto;
  border: 3px solid green;
  padding: 10px;
}
.label1{
    margin-right: 10px;
}
.label2{
    margin-right: 10px;
}
.label3{
    margin-right: 10px;
}

.list{
    
    width: 100px;
    border: '1px solid black';
    background-color:lightblue;

} 

.list td {
    border-bottom: 1px solid black;
    padding: 8px;
}

.list td, .list th {
    border: 1px solid black;
    padding: 8px;
  }
  
  .list tr:nth-child(even){background-color: #f2f2f2;}
  
  .list tr:hover {background-color: purple;}
  
  .list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#f2f2f2;
    color: black;
  }

  .h1 {
      color: purple
  }

  .but{
      margin-bottom : 10px;
      margin-top: 10x;
      display: inline;
    
      
  }
.but1{
      width : 50%
  }
.space{
      margin-bottom: 10px;
  }
.h4{
      margin-top: 10px;
      display: inline;
  } 


  body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  .basic-container {
    padding: 30px;
  }
  .version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
  }

  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  } */
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


.card{
    background-color: lightgrey;
    overflow: hidden;
    margin: 0 auto;
    font-family: rubik;
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 20px;
}

.cards {
    list-style: none;
    background-color: lightblue;
    color: #b81414;
    text-align: center;
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 20px;
}
/* 
.card{

    list-style: none;
    background-color: #f4f4f4;
    color: #222222;
    text-align: center;
    margin: 0 auto;
    font-family: rubik;
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 20px;
    border: black;
} */

.text-oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }