<h1>{{title}}</h1>
<!-- <app-classes></app-classes> -->
<div class="entire">


<!-- 
<div>
    <label for="Subject"></label>
    <select>
        <option *ngFor="let course of data" [value]="course.subject">
            {{course.subject}}
        </option>
    </select>
   
</div> -->

    <div>
        <h4 class= "h4">List of All courses           </h4>
        <button (click) = "getCourses()" class="but" >Courses</button>
    </div>
    
   

    <input type="text" name = "subject" [(ngModel)] = "subject" placeholder="Subject" >
    <button (click)="getSubject()" class = "label1">Search</button>



    <input type="text" name = "sub&course" [(ngModel)] = "course" id = "course" placeholder="Course Code" >
   
    <button (click)=" getSubsandCourse()" class = "label2">Search</button>



    <input type="text" name = "sub&course&component" [(ngModel)] = "component" id = "component" placeholder="Component" >
    <button (click)="getSubsandCourseandComp()" class = "label3">Search</button>

   
    <input type="text" name = "courseList" [(ngModel)] = "scheduleName" id = "scheduleName" placeholder="Create a new schedule" class = "label4">
    <button (click)="createSchedule()" class = "label4">Create</button>

    

<div>

    <h4 class= "h4">Would you like to add these courses to the schedule: {{scheduleName}}            </h4>
    <button class ="but" (click)="add_new()"> Add a subject and course</button>
    <h4> Selected Subject code: {{subject}}</h4>
    <h4> Selected Course code: {{course}}</h4>
</div>


    <div>
        <h4 class = "h4"> Display: {{scheduleName}}          </h4>
    <button class = "but" (click)="display()">Display a specified schedule</button>
   
    </div>
    
    <div>
        <h4 class = "h4"> Delete: {{scheduleName}}          </h4>
        <button class = "but" (click)="delete_Schedule()">Delete a specified Schedule</button>
    </div>


  


    <div>
        <button class = "but1" (click)="delete_All()">Delete all Schedules</button>



        <button class = "but1" (click)="list_Schedules()">list all schedules</button>
    </div>
    


<!-- <select id="sel" (click)="show()">
    <option value="">-- Select --</option>
</select> -->

<div id="newButton">

</div>
<ul id= "list">
</ul>
<div id="display"></div>
<table id = "display1" class = "list">
    
</table>


</div>







<!-- Displays all subjects -->